<!-- in eine andere html datei stand als id "aside item2" !!!-->
<aside id="aside_item1">
    <h4>Aktuelle Meldungen:</h4>

    <ul>
      <li>
        <b>Technische Wartungen</b>
        <ul>
          <li>21.09.2019</li>
          <li>
            Es finden am 24.09.2019 von 13.00 - 15.00 Uhr technische Wartungen
            statt.
          </li>
        </ul>
      </li>
      <li>
        <b>Rucksack vergessen</b>
        <ul>
          <li>23.09.2019</li>
          <li>
            Es wurde ein blauer Rucksack gefunden, der im Sekretariat abgeholt
            werden kann.
          </li>
        </ul>
      </li>
    </ul>
  </aside>