<h1>Raumapp</h1>
<a href="/dashboard"><img src="img/Logo.jpg" alt="Logo" id="logo_image" height="80" width="80"/></a>

<!-- kann man auch den head so machen?

<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/grid.css" />

<link rel="stylesheet" type="text/css" href="css/dashboard.css" />

<link rel="stylesheet" type="text/css" href="css/flexbox.css" />
<meta name="viewport" content="width=device-width, initial-scale=1"> -->