* {
    font-family: Arial;
}

h1 {
    color:orange;
}
h2, h3, h4 {
    color: blue;
}

input:invalid{
    background-color:rgba(255, 0, 0, 0.548);;
}
input:valid{
    background-color:lightblue;
}
textarea:valid{
    background-color: lightblue;
}
textarea:invalid{
    background-color: rgba(255, 0, 0, 0.548);
}

/*
after nicht fur input elemente nutzen! deswegen einen leeren span erstellen mit 
spezielles class     <span class= "erforderlich"></span>      nach dem input setzen
*/

.erforderlich::after{
    content:"*";
    color:red;
}

aside {
    background-color: lightgray;
}

nav a:hover{
    color:blue;
}

#TabelleRaumbuchung thead tr{
    background-color:lightgray;
}
#TabelleRaumbuchung tbody tr:nth-of-type(even){
    background-color:lightslategray;
}

a[href^="mailto"]::before{
    content: url(/src/email_icon.png);
}