<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <title>404 - File not found</title>
    </head>
    <body>
        <h1>Error 404, file not found</h1>
    </body>
</html>